<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>有拜有保庇</title>

    <!-- Bootstrap Core CSS -->
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/stylesheets/portfolio-item.css" rel="stylesheet">

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-select.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-datepicker.css">


    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/bootstrap-select.js"></script>
    <script src="/javascripts/bootstrap-datepicker.js"></script>
    <script type='text/javascript' src='https://www.google.com/jsapi'></script>
    <script type='text/javascript' src="/javascripts/geomap.js"></script>
    <script type='text/javascript' src="/javascripts/chart.js"></script>
    <script>
    google.load('visualization', '1', {'packages': ['geomap','corechart', 'bar']});
    </script>
    <script src="/javascripts/logic_class.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--<img src="logo.jpg">-->
                <!--<a class="navbar-brand" href="#">Start Bootstrap</a>-->
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <img src="/images/icon.jpg" style="height: 60%; width:60%;margin-top: 3px;">
                    </li>
                    
                    <li>
                        <a href="/">首頁</a>
                    </li>
                    <li>
                        <a href="/class">後分類</a>
                    </li>
                    <li>
                        <a href="/individual">詳細介紹</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">有拜有保庇
                    <small>台灣廟宇神明資料庫</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-12">
              <form class="form-inline" target="dummyframe">
                
                    <div class="form-group">
                        <label for="deity">神明</label>
                        <div class="input-group">
                            <!--<span class="input-group-addon">
                                <input type="radio" aria-label="...">
                             </span>-->
                            <div class="col-md-3">
                                <input type="text" class="form-control" id="sortname">
                            </div>
                         </div>
                         <button id="sortsrch1" class="btn btn-default">搜索</button> 
                    </div>
                

                    <div class="form-group">
                        <label for="deity">廟宇</label>
                        <div class="input-group">
                            <!--<span class="input-group-addon">
                                <input type="radio" aria-label="...">
                             </span>-->
                            <div class="col-md-3">
                                <input id="sorttemple" type="text" class="form-control">
                            </div>
                        </div>
                        <button id="sortsrch2" type="submit" class="btn btn-default">搜索</button> 
                    </div>

                    <div class="form-group">
                        <label for="region">教派</label>
                        
                        <div class="input-group">
                            <div class="col-md-3">
                            
                                <select id="sortreligion" class="selectpicker">
                                    <option>道教</option>
                                    <option>佛教</option>
                                    <option>理教</option>
                                    <option>儒教</option>
                                    <option>一貫道</option>
                                    <option>天帝教</option>
                                    <option>天德教</option>
                                    <option>彌勒大道</option>
                                    <option>軒轅教</option>
                                </select>
                            
                            </div>
                             
                        </div>
                        <button id="sortsrch3" type="submit" class="btn btn-default">搜索</button> 
                       
                        
                    </div>

                </form>

            </div>
               

        </div>
        <!-- /.row -->
        <br><br>
        <!-- Related Projects Row -->
        <div class="row">


            <div class="col-lg-12">

                 <div class="panel panel-danger">
                    <div class="panel-heading" style="color: white; background-color: #a94442;">
                        <h3 class="panel-title">台灣分佈</h3>
                    </div>
                    <div id="returnmap" class="panel-body">
                        <div id='geomap'></div>
                    </div>
                </div>

                <div class="panel panel-danger">
                    <div class="panel-heading" style="color: white; background-color: #a94442;">
                        <h3 class="panel-title">City and County</h3>
                    </div>
                    <div id="returncity" class="panel-body">
                        <div id="chart_div">
                           <label>臺南市：300</label>
                           <div class="progress">
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                                    
                                </div>
                            </div>

                            <label>臺北市：100</label>
                            <div class="progress">
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 25%">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="panel panel-danger" id="religionblock">
                    <div class="panel-heading" style="color: white; background-color: #a94442;">
                        <h3 class="panel-title">Religion (deity and temple)</h3>
                    </div>
                    <table id="returnreligion" class="table">
                        <thead>
                            <tr>
                                <th>教派</th>
                                <th>出現次數</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>佛教</td>
                                <td>15</td>
                            </tr>
                            <tr>
                                <td>道教</td>
                                <td>19</td>
                            </tr>
                            <tr>
                                <td>一貫道</td>
                                <td>2</td>
                            </tr>
                        </tbody>
                        
                    </table>


                </div>

                <div class="panel panel-danger" id="nameblock">
                    <div class="panel-heading" style="color: white; background-color: #a94442;">
                        <h3 class="panel-title">類似名稱</h3>
                    </div>
                    <table id="returnnames" class="table">
                        <thead>
                            <tr>
                                <th>名稱</th>
                                <th>出現次數</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>觀音</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>觀音娘娘</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>觀音娘</td>
                            <td>6</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <!--<div class="panel panel-danger">
                    <div class="panel-heading"  style="color: white; background-color: #a94442;">
                        <h3 class="panel-title">Related deities</h3>
                    </div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>-->

            <!--<div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>-->

        </div>
        <!-- /.row -->

        

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; iBoBeeU 2015</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>
        <div id="dataView1"></div>
        <iframe width="0" height="0" border="0" name="dummyframe" id="dummyframe"></iframe>

    </div>
    <!-- /.container -->
<!--    <script>
    $(function(){
            window.prettyPrint && prettyPrint();
            $('#dp1').datepicker({
                format: 'mm-dd-yyyy'
            });
            $('#dp2').datepicker();
            $('#dp3').datepicker();
            $('#dp3').datepicker();
        }
        </script>-->

    <!-- jQuery -->
    <!--<script src="js/jquery.js"></script>-->

    <!-- Bootstrap Core JavaScript -->
   <!-- <script src="js/bootstrap.min.js"></script>-->

</body>

</html>
