<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/dataview_logic.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<% include partial/header %>
    <h1><%= title %></h1>
    <p>Database view</p>
    <input id="dataAdd" value="'nasty injection or 1=1 or ' "></input>
    <button id="btnAdd">Add New</button>
    <button id="btnView">View All</button>
    <div id="dataView1"></div>
  </body>
</html>
